# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual env
.venv/
env/
ENV/
venv/

# VS Code
.vscode/

# Home Assistant
home-assistant.log
home-assistant_v2.db
secrets.yaml
storage/
*.db
*.db-shm
*.db-wal

# OS
.DS_Store
Thumbs.db
